<mat-accordion *ngIf="mensagens.length >0">
  <mat-expansion-panel *ngFor="let mensagem of mensagens">
    <mat-expansion-panel-header>Mensagem:</mat-expansion-panel-header>
    <p>{{mensagem.mensagem}}</p>
    <mat-action-row>
      <button mat-button color="primary">EDITAR</button>
      <button mat-button color="warn">REMOVER</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="mensagens.length <= 0">
  Nenhuma mensagem cadastrado
  </p>
